/*
Colors: 
#E54E79; rosado
#E56385; rosado claro
#00B2A9; celeste
#75726C; gris
#EDE9E2; medio blanco
*/
*{
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}


/*MENU MENU MENU MENU MENU MENU*/

.conten-logo{
	position: relative;
	top: 10px;
	left: 100px;
}
.logo{
	text-align: left;
	padding: 0 30px;
	width: 80px;
	height: 50px;
}
.menu{
	background-color: #E54E79;
	width: 100%;
	position: fixed;
	z-index: 2;
	height: 70px;
}
.todas-opciones{
	position: relative;
	left: 900px;
	bottom: 43px;
}
.opciones{
	float: left;
	display: block;
	color: #EDE9E2;
	padding: 14px 16px;
}

/*  IMAGEN FIJA  :3  */

#guardar-imagen{
	position: fixed;
	z-index: -1;
	width: 100%;
	height: 700px;
	background-size: cover;
	background-image: url('../img/cropped-Lyft-Promo-Codes-car-1.jpg');
}

/* FORMULARIO */
.ajustar-formulario{
	padding: 50px;
	display: block;
	position: relative;
	top: 20px;
}
.todo-el-formulario{
	margin: 0;
	padding: 0;
	background-color: #EDE9E2;
	position: relative;
	top: 200px;
	left: 786px;
	width: 500px;
	height: 400px;

}
#h1-formulario{
	color: #00B2A9;
	font-size: 27px;
}
#h2-formulario{
	color: #75726C;
	font-size: 14px;
	position: relative;
	top: 20px;
}
.input-formulario{
	padding: 10px;
	position: relative;
	top: 50px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #75726C;
	font-size: 15px;
	width: 100%;
	background-color:#EDE9E2; 
}
.nombre-primer-boton{
	background-color: #E56385;
	border-radius: 10px;
	position: relative;
	top: 80px;
	padding: 10px;
	color:#EDE9E2;
	width: 220px; 
	font-size: 18px;
}
.parrafo-uno{
	position: relative;
	top: 90px;
	font-size: 16px;
}
.parrafo-dos{
	position: relative;
	top: 100px;
	font-size: 16px;
}

/* SEGUNDA SECCION*/

.fondo-segundaParte{
	margin: 0;
	padding: 0;
	background-color: #00B2A9;
	position: relative;
	top: 300px;
	height: 600px;
}
.titulo-segundaParte{
	width: 100%;
	position: relative;
	top: 80px;
	width: 100%;
	height: 90px;
	background-color: #EDE9E2;
	text-align: center;
}
#h1-segundaParte{
	font-size: 60px;
	color: #75726C;
	position: relative;
	top: 15px;
}
.pedir-datos-auto{
	background-color: #EDE9E2;
	position: relative;
	top: 160px;
	left: 230px;
	width: 920px;
	height: 250px;
}
.input-segundaParte{
	position: relative;
	left: 50px;
	top: 70px;
	width: 300px;
	border-left: none;
	border-top: none;
	border-right: none;
	border-bottom: 1px solid #75726C;
	background-color: #EDE9E2;
	font-size: 15px;
	padding-bottom: 10px;
}
.segundoinput-segundaParte{
	position: relative;
	left:120px;
	top: 70px;
	width: 300px;
	border-left: none;
	border-top: none;
	border-right: none;
	border-bottom: 1px solid #75726C;
	background-color: #EDE9E2;
	font-size: 15px;
	padding-bottom: 10px;
}
.segundo-boton{
	border: none;
	border-radius: 10px;
	position: relative;
	top: 88px;
	left: 30px;
	width: 844px;
	height: 55px;
	background-color: #00B2A9;
	color: white;
	font-size: 25px;
}
.fa-car{
	color: #75726C;
	font-size: 30px;
}
#primer-auto{
	position: relative;
	left: 38px;
	top: 80px;
}
#segundo-auto{
	position: relative;
	left: 110px;
	top: 80px;
}

/*tablero*/

.todo-tablero{
	position:absolute;
	top: 1300px;
	width: 100%;
	height: 750px;
	background-color: #00B2A9;
}
#area-dibujo{
	border: 30px solid #EDE9E2;
	z-index: 1;
	position: relative;
	left: 250px;
	top: 100px;
	background-color: #75726C;
}

/* ultima parte */
.ultima-parte{
	margin: 0;
	padding: 0;
	position: relative;
	top: 1050px;
	background-color:#75726C;
	width: 100%;
	height: 200px; 
}
.name-link{
	position: absolute;
	left: 850px;
	bottom: 147px;
	color:#EDE9E2;
	font-size: 25px; 
}
.todos-link{
	width: 60px;
	display: block;
	color: #EDE9E2;
	position: relative;
	left: 850px;
	top: 60px;
	padding-bottom: 5px;
}
.h3{
	position: absolute;
	left: 230px;
	top: 25px;
	color: #EDE9E2;
	font-size: 30px;
}
.p-ultimaparte{
	position: absolute;
	left: 230px;
	top: 70px;
	color: #EDE9E2;
}
/* ultima ultima*/
.ultima-ultima{
	background-color: #706d68;
	margin: 0;
	padding: 0;
	position:relative;
	top: 1050px;
	width: 100%;
	height: 43px;
}
.izquierda{
	position: absolute;
	left: 250px;
	top: 10px;
	color: white;
}
.derecha{
	position: absolute;
	left: 1050px;
	bottom: 10px;
	color: white;
}